* {
  border:0 none;
}
body {
  background:#2D2828;
  color:#EAE8E9;
  margin:0px;
}

#header {
  float:left;
  margin:20px 0 15px 10px;
  background-image:url("/images/logo.gif");
  background-repeat:no-repeat;
  display:block;
  height:130px;
  overflow:hidden;
  z-index:99;
  position:static;
  width:350px;
}

#news {
  margin-left:auto;
  margin-right:auto;
  padding-top:2%;
  text-align:center;
  display:table;
  max-width:500px;
}

#news .title {
  text-align:right;
  border-bottom:1px solid #838383;
/*
  background:#79e4ff;
*/
}

#news a {
  color:#EAE8E9;
  text-decoration:none;

}

#news a:hover {
  color:#23AEBB;
  text-decoration:none;
}

#news .author {
  text-align:right;
  font-style:italic;
  font-family: ‘Courier New’, Courier, monospace;
}

.pagination {
  margin:2% 0;
  font-size:12px;
  text-align:right;
}

.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  text-decoration: none;
  color: #EAE8E9;
}

.pagination a:hover, .pagination a:active {
  color: #23AEBB;
}

.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  font-weight: bold;
  color: #79e4ff;
}

.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  color: #ddd;
}

#credit {
  background:url("/images/credits_border.png") repeat-x scroll center top transparent;
  text-align:center;
  font-size:12px;
  margin:0 25%;
  padding:15px 0 15px 0;
}

#credit a{
  color:#23AEBB;
  text-decoration:none;
}

#credit a:hover {
  text-decoration:underline;
}

