%h4 Últimas notícias sobre Teste e Qualidade de Software

#news
  - @feed_entries.each do |entry|
    .title
      = link_to entry.title, entry.url
    .author
      = "Escrito por #{entry.author}"
    %br

