!!!
%html(lang='pt-BR')
  %head
    %meta(charset='utf-8')
    %title News Suite

    = stylesheet_link_tag :all, :cache => true

  %body
    #header
    %a{:href =>"/feed", :title => "Assine o RSS", :alt => "Assine o RSS"}
      #rss
    = yield

    #credit
      %p
        <strong>Um projeto <i>open source</i> desenvolvido por:</strong> #{link_to "Fabrício Ferrari de Campos", "http://twitter.com/fabricioffc"}.
      
      <strong>Uma iniciativa do time do</strong> #{link_to "Vizir", "http://www.vizir.com.br/"}.      
      

